<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/img/icon.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <title>About me: Ricardo Oliveira</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/foto_perfil.jpg" />
        <h1>Ricardo Oliveira</h1>
        <div class="social-links mt-4 text-center">
          <a target="_blank" href="https://www.linkedin.com/in/nascidoem77/">
            <i class="bi bi-linkedin"></i
          ></a>
          <a target="_blank" href="https://github.com/nascidoem77">
            <i class="bi bi-github"></i
          ></a>
          <a target="_blank" href="https://www.instagram.com/ricardo.bornin77/">
            <i class="bi bi-instagram"></i
          ></a>
          <a target="_blank" href="https://www.facebook.com/ricardo.bornin77/">
            <i class="bi bi-facebook"></i
          ></a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio"
              ><i class="bi bi-house"></i> Início</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"
              ><i class="bi bi-person"></i> Sobre</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades"
              ><i class="bi bi-list-check"></i> Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo"
              ><i class="bi bi-file-earmark-text"></i> Currículo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio"
              ><i class="bi bi-collection"></i> Portfólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato"
              ><i class="bi bi-envelope"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="
            col-md-5
            d-flex
            justify-content-center
            align-items-center
            flex-column
          "
        >
          <h2 class="text-white text-shadow">Ricardo Oliveira</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Web Designer, Full Stack Developer</span
          >
        </div>
        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div class="scroll">
            <i
            class="bi bi-box-arrow-down text-white pe-2 fs-2"
            aria-hidden="true"
          ></i>
          </div>
        </div>
      </section>

      <section id="sobre" class="container mt-5">
        <div class="row">
          <div align="justify" class="col-md-12">
            <h2 class="pt-5">Sobre</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid" src="../static/img/foto_perfil.jpg" />
          </div>

          <div align="justify" class="col-md-8">
            <h3>Web Designer, Full Stack Developer</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>

            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Aniversário: <span class="fw-lighter">29 de setembro</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">44 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter">Belo Horizonte</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">Minas Gerais</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobbies:
                    <span class="fw-lighter">Filmes, séries, música</span>
                  </li>
                  <li class="list-group-item">
                    Outros idiomas: <span class="fw-lighter">Inglês</span>
                  </li>
                  <li class="list-group-item">
                    Empresa: <span class="fw-lighter">Target Software</span>
                  </li>
                  <li class="list-group-item">
                    Experiência: <span class="fw-lighter">+25 anos</span>
                  </li>
                </ul>
              </div>
            </div>
            <div align="justify">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="habilidades" class="container mt-5 section-bg">
        <div class="row">
          <div align="justify" class="col-md-12">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book.
          </p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
              <p class="mt-3 mb-0">JavaScript</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
              <p class="mt-3 mb-0">C#</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
              <p class="mt-3 mb-0">Java</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Selenium Webdriver</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
              <p class="mt-3 mb-0">NUnit / JUnit</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              <p class="mt-3 mb-0">Bootstrap</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
              </div>
              <p class="mt-3 mb-0">Git</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%; " aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
              </div>
              <p class="mt-3 mb-0">Deploy</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%; " aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto">

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
              <p class="mt-3 mb-0">Orientação a detalhes</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              <p class="mt-3 mb-0">Empatia</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
